{% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
    {% if admin.subClasses is empty %}
        <li>
            <a class="sonata-action-element" href="{{ admin.generateUrl('create') }}">
                <i class="icon-plus"></i>
                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}</a>
        </li>
    {% else %}
        {% for subclass in admin.subclasses|keys %}
            <li>
                <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass|trans({}, admin.translationdomain) }}</a>
            </li>
        {% endfor %}
    {% endif %}
{% endif %}
