/* ---- rzadmin-bootsrap dark theme ---- */

.navbar-inner {
    background-color: #192338 !important;
    background-image: none !important;
    border-color: #192338;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
}
.navbar .nav > li > a {
    color: #c1dce7;
}
.navbar .nav > li:hover > a {
    color:#fff;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background: #253454 !important;
    color: #fff;
}
.navbar .divider-vertical {
    border-left-color:#253454;
    border-right-color:#192338;
}

.footable > thead > tr > th, .footable > thead > tr > td,
.dropdown-menu li > a:hover, .dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #192338 !important;
    background-image: none !important;
    border-color: #192338;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.13);
    -webkit-font-smoothing: antialiased;
}

.footable > thead > tr > th, .footable > thead > tr > td {
    box-shadow: none !important;
    border-top:  #192338 #192338 hsl(221, 38%, 14%); !important;
    border-bottom: transparent !important;
    height: 20px;
    min-height: 20px;
}

.sidebar-nav .nav-list > .active > a, .nav-list > .active > a:hover {
    -webkit-border-radius:0;-moz-border-radius:0;border-radius:0;margin-bottom:0;
}


.table thead th {background-color:#ebf2f6 !important}
.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d4e3eb !important}

.icon-fontsize-override {
    font-size: 14px !important;
    line-height: 20px!important;
}

@media (max-width: 979px) {

    .nav-collapse .dropdown-menu a:hover {
        background: #d6d6d6 none !important;
        color: #192338 !important;
    }
}
