{#

This file is part of the RzProject package.

(c) mell m. zamora <me@mellzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block admin_module_title %}
<div id="content-header">
    <h1><i class="icon-dashboard"></i> My Dashboard</h1>
    <div class="row-fluid">
        {#<div class="span12 sub-title">#}
            {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non elit tellus, eleifend varius erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum laoreet ante sodales elementum. Nullam varius interdum est, at ornare quam aliquam eu. Nulla ultricies commodo leo sit amet vulputate.</p>#}
        {#</div>#}
    </div>
</div>
{% endblock admin_module_title %}
{% block breadcrumb %}
    <li><i class="icon-home"></i></li>
{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            {% for block in blocks %}
                {% if block.position == 'left' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endif %}
            {% endfor %}
        </div>
        <div class="span6">
            {% for block in blocks %}
                {% if block.position == 'right' %}
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon">
                                <i class="micon-dashboard"></i>
                            </span>
                            <h5>Widgets</h5>
                        </div>
                        <div class="widget-content sonata-dashboard-widget-content">
                            {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
