{% block masonry_container %}
<li class="thumbnail">
    {% block masonry_batch %}
        {% if admin.list.has('batch') and not app.request.isXmlHttpRequest %}
        <div class="row-fluid">
            <div class="span12 sonata-ba-list-field sonata-ba-list-field-batch">
                {{ object|render_list_element(admin.list['batch']) }}
            </div>
        </div>
        {% endif %}
    {% endblock masonry_batch %}

    {% block masonry_details_row %}{% endblock %}

    {% block masonry_action %}
        {% if admin.list.has('_action') and not app.request.isXmlHttpRequest %}
        <div class="row-fluid">
            <div class="span12 sonata-ba-list-field sonata-ba-list-field-inline-fields">
                {{ object|render_list_element(admin.list['_action']) }}
            </div>
        </div>
        {% endif %}
    {% endblock masonry_action %}
</li>
{% endblock masonry_container %}
