<div class="span4">
    <div class="control-group">
        <div class="row-fluid">
            <label class="control-label">{{ "label_export_download"|trans({}, "RzAdminBundle") }}</label>
            <div class="btn-group">
                {% for format in admin.getExportFormats() %}
                    <a class="btn btn-primary" href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                        {# TODO create dynamic class for insterting icons #}
                        {% if format == 'json' %}
                            <i class="icon-bar-chart"></i>&nbsp;
                        {% elseif format == 'xml' %}
                            <i class="icon-signal"></i>&nbsp;
                        {% elseif format == 'csv' %}
                            <i class="icon-reorder"></i>&nbsp;
                        {% else %}
                            <i class="icon-tasks"></i>&nbsp;
                        {% endif %}
                        {{ format }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
