<div class="row-fluid">
    <div class="span12 admin-table-footer form-inline">
        {% if not app.request.isXmlHttpRequest %}
            <div class="row-fluid">
                {% if batchactions|length > 0  %}
                    {% block table_footer_batch %}
                        {% include admin.getTemplate('rz_list_table_footer_batch') %}
                    {% endblock table_footer_batch %}
                {% endif %}

                {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                    {% block table_footer_download %}
                        {% include admin.getTemplate('rz_list_table_footer_download') %}
                    {% endblock  table_footer_download %}
                {% endif %}

                {% block  table_footer_per_page %}
                    {% include admin.getTemplate('rz_list_table_footer_per_page') %}
                {% endblock  table_footer_per_page %}

                {% block  table_footer_pager %}
                    {% include admin.getTemplate('rz_list_table_footer_pager') %}
                {% endblock  table_footer_pager %}
            </div>
        {% else %}
            <div class="row-fluid">
                {% block  table_footer_pager_ajax %}
                    {% include admin.getTemplate('rz_list_table_footer_pager') %}
                {% endblock  table_footer_pager_ajax %}
            </div>
        {% endif %}
    </div>
</div>
