{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

<td class="span3 rmz-show-label">
    {% block name %}
        {% if field_description.label %}
            {{ admin.trans(field_description.label) }}
        {% else %}
            &nbsp;
        {% endif %}
    {% endblock %}
</td>
<td class="span9">
    {% block field %}
        {% if value %}
            {{ value|nl2br }}
        {% else %}
            &nbsp;
        {% endif %}
    {% endblock %}
</td>
