{% block masonry_container %}
<div class="rz-masonry-item sonata-ba-list-field" objectId="{{ admin.id(object) }}">
    {% block masonry_details_row %}{% endblock %}
</div>
{% endblock masonry_container %}
