{#

This file is part of the Rz package.

(c) mell m. zamora <me@rmzamora.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'RzAdminBundle:CRUD:base_list.html.twig' %}

{% block list_table_standard %}
{% set batchactions = admin.batchactions %}
<div {% if not app.request.isxmlhttprequest %}class="rz-admin-list-main-data"{% endif %}>
    {% if admin.hasRoute('batch') %}
    <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" class="rz-datagird-form rz-masonry">
    {% endif %}
        {% if admin.datagrid.results|length > 0 %}
        <div class="rz-masonry-container">
            <div class="rz-masonry-gallery" data-masonry-options="{ 'isFitWidth': true }">
                {% for object in admin.datagrid.results %}
                    {% include admin.getTemplate('inner_list_row') %}
                {% endfor %}
            </div>
        </div>
        {% else %}
            <div class="rz-admin-list-no-result rz-masonry-container {% if not app.request.isxmlhttprequest %}rz-admin-list-no-result-container{% endif %}">
                <div class="alert">
                    <strong>{{ 'no_result'|trans({}, 'SonataAdminBundle') }}</strong>
                </div>
            </div>
        {% endif %}
        {% if not app.request.isxmlhttprequest %}
            {{   block('list_settings') }}
        {% endif %}
    {% if admin.hasRoute('batch') %}
    </form>
    {% endif %}
</div>
{% endblock list_table_standard %}
